*{
    margin: 0;
    padding: 0;
}

.warper{
    width: 400px;
    height: 480px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
}
#head{
    position: absolute;
    top: 100px;
    left: 68px;
}
#headBird{
    position: absolute;
    top: 125px;
    left: 266px;
    z-index: 3;
}

#button{
    position: absolute;
    width: 88px;
    height: 30px;
    top:250px;
    left: 117px;
}
#grassLand1{
    position: absolute;
    width: 400px;
    height: 14px;
    background-image: url(./img/banner.jpg);
    top:422px;
}
#grassLand2{
    position: absolute;
    width: 400px;
    height: 14px;
    background-image: url(./img/banner.jpg);
    top:422px;
    left: 400px;
    
}
