$color-white=  #ffffff

//rgba (7,12,27,0.5)  0.5为透明度
$color-backgroud= rgba(7,17,27,1)
$color-backgroud-s= rgba(7,17,27,0.8)
$color-backgroud-ss= rgba(7,17,27,0.5)
$color-backgroud-sss= rgba(7,17,27,0.2)
$color-backgroud-ssss= #f3f5f7


