*
    margin 0
    padding 0
html,body 
    font-size 30px
section
    margin-bottom 0.667rem
    background-color #fff
    border-radius: 10px
    overflow hidden    
.card
    padding: 1rem
    background-color:  #f5fafe
    .card-wrapper
        width 100%
        .user-info
            width 100%
            font-size 0
            .user-info__pic
                width 100%
                img 
                    width 100%
            .user-info__desc
                padding 0.33rem 0.667rem
                .name
                    font-size 1rem
                    color #010101
                    .sex
                        width 0.67rem
                        height 0.6rem
                        display inline-block
                        background-image: url(./img/xingbienv.png)
                        background-size: contain
            .user-info__desctwo
                padding 0
                overflow: auto
                .kailang
                    width 1rem
                    height 1.3rem
                    background-color #48a6fd
                    margin 0.5rem 
                    font-size 0.2rem
                    color white
                    text-align: center
                    float left
                .freejob
                    width 2.5rem
                    height 1.3rem
                    background-color green
                    margin 0.5rem 
                    font-size 0.2rem
                    color white
                    text-align: center
                    float left
                .love
                    width 2rem
                    height 1.3rem
                    background-color yellow
                    margin 0.5rem 
                    font-size 0.2rem
                    color white
                    text-align: center
                    float left
            .user-info__descthree
                height 5rem
                width 100%
                .A-a
                    width 5rem
                    height 1rem
                    font-size 1rem
                    color #999999
                    float left
                    .adree
                        width 0.5rem
                        height 0.5rem
                        font-size 0.5rem
                        background-image: url(./img/dizhi.png)
                        background-size: contain
                .A-b
                    width 5rem
                    height 1rem
                    font-size 1rem
                    color #999999
                    float left
                    .job
                        width 0.5rem
                        height 0.5rem
                        font-size 0.5rem
                        background-image: url(./img/zhiye.png)
                        background-size: contain
                    
                // .B
                //     padding 0.33rem 0.667rem
                //     .B-a
                //         font-size 1rem
                //         color #999999
                //     .aixin
                //         width 0.67rem
                //         height 0.6rem
                //         display inline-block
                //         background-image: url(./img/aixin.png)
                //         background-size: contain
                //     .B-b
                //         font-size 1rem
                //         color #999999
                //     .weixin
                //         width 0.67rem
                //         height 0.6rem
                //         display inline-block
                //         background-image: url(./img/weixin.png)
                //         background-size: contain
                    
                        
                        

                 

                


                            